<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.diabeteshelper">
	<uses-sdk />
	<application android:label="Diabetes Helper " android:icon="@drawable/diabetes"></application>
</manifest>